spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/finance_db
    username: admin
    password: admin123
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger

saldo:
  api:
    url: ${SALDO_API_URL:http://localhost:3001}